@model List<AnimalViewModel>

<h1>
    <center>There are all animals in the Zoo!</center>
</h1>

@*<a asp-controller="Animals" asp-action="Delete" asp-route-id="@animal.Id" class="btn btn-danger">Delete</a>*@

<ul>
    @foreach (var animal in Model)
    {
        <h3>
            <ul>
                @animal.Type
            </ul>
            <ul>
                @animal.Name
            </ul>
            <ul>
                <img src="@animal.URL" style="overflow: hidden; position: relative; width:400px; height:400px;" />
            </ul>
            <a asp-controller="Animals" asp-action="Edit" asp-route-id="@animal.Id" class="btn btn-warning">Edit</a>
        </h3>
    }
</ul>


